<div [ngSwitch]="column.type">

	<div *ngSwitchDefault class="field">
		<input [name]="column.key" type="text" [placeholder]="column.name"
		       [ngModel]="value" (ngModelChange)="emitChange($event)"/>
	</div>

	<div *ngSwitchCase="'number'" class="two fields">

		<span class="field">
			<input [name]="column.key + 'min'" type="number" placeholder="Min"
			       [ngModel]="value.min" (ngModelChange)="emitChange({'min': $event})"/>
		</span>
		<span class="field">
			<input [name]="column.key + 'max'" type="number" placeholder="Max"
			       [ngModel]="value.max" (ngModelChange)="emitChange({'max': $event})"/>
		</span>
	</div>

	<div *ngSwitchCase="'datetime'" class="two fields">
		<span class="field">
			<milo-input-calendar placeholder="From" (onChange)="emitChange({'min': $event.getDate()})"
			                     [value]="value.min"></milo-input-calendar>
		</span>
		<span class="field">
			<milo-input-calendar placeholder="To" (onChange)="emitChange({'max': $event.getDate()})"
			                     [value]="value.max"></milo-input-calendar>
		</span>
	</div>

	<div *ngSwitchCase="'boolean'" class="boolean-handler">
		<label><input [name]="column.key" type="radio" (click)="emitChange(true)" [checked]="value == true" /> T</label>
		<label><input [name]="column.key" type="radio" (click)="emitChange(false)" [checked]="value == false" /> F</label>
		<label><input [name]="column.key" type="radio" (click)="emitChange(null)" [checked]="value == null" /> N</label>
	</div>

	<div *ngSwitchCase="'select'" class="field">
		<milo-select [model]="value" [options]="column.values" (onChange)="emitChange($event)"></milo-select>
	</div>

	<!--<span ng-switch-when="time">-->
	<!--<div>-->
	<!--<button ng-model="column.state.min" ng-click="column.pickerMin=!column.pickerMin" ng-change="updateColumnState(column)"-->
	<!--type="button" class="date-filter" uib-datepicker-popup is-open="column.pickerMin" show-weeks="false" ng-attr-title="{{::_(column.name)}}">-->
	<!--<span ng-if="column.state.min">{{column.state.min | date}}</span>-->
	<!--<span ng-if="! column.state.min">{{::_('Date')}}</span>-->
	<!--&nbsp;-->
	<!--<i class="glyphicon glyphicon-calendar"></i>-->
	<!--</button>-->
	<!--</div>-->
	<!--</span>-->
	<!-- TODO empty handling -->

</div>